<div class="container">
  <div class="left-column">
    <div class="forms">
      <h2 class="forms-title">Astronomy Picture of the Day</h2>
      <button mat-raised-button color="primary" (click)="getTodayApod()">Today</button>
      <form (submit)="getApodByDate()" class="form-inline">
        <input matInput type="date" [(ngModel)]="specificDate" name="specificDate" />
        <button mat-raised-button color="accent">Search by Date</button>
      </form>
      <form (submit)="getApodsByRange()" class="form-inline">
        <input matInput type="date" [(ngModel)]="startDate" name="startDate" />
        <input matInput type="date" [(ngModel)]="endDate" name="endDate" />
        <button mat-raised-button color="warn">Search by Range</button>
      </form>
    </div>    
    <div class="description">
      <p>{{ apod?.explanation }}</p>
    </div>
  </div>

  <div class="right-column">
    <div class="header">
      <h1>{{ apod?.title || "Astronomy Picture of the Day" }}</h1>
      <p>{{ apod?.date }}</p>
    </div>
    <div class="image-container">
      <img *ngIf="apod?.media_type === 'image'" [src]="apod?.url" [alt]="apod?.title" />
      <iframe
        *ngIf="apod?.media_type === 'video'"
        [src]="apod?.url"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
