/* Ejemplo mínimo, ya que Tailwind puede encargarse de la mayoría */
.loading-overlay {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  